html,
body {
  background-color: #225cbc;
  height: 100%;
  /* 遮罩层 */
}
html section.part_01,
body section.part_01 {
  width: 7.5rem;
  height: 4.48rem;
  background: url('../images/bg_01.png') no-repeat;
  background-size: cover;
}
html section.part_02,
body section.part_02 {
  width: 7.5rem;
  height: 1.46rem;
  background: url('../images/bg_02.png') no-repeat;
  background-size: cover;
}
html section.part_03,
body section.part_03 {
  width: 7.5rem;
  height: 4.41rem;
  background: url('../images/bg_03.png') no-repeat;
  background-size: cover;
}
html section.part_03 > div,
body section.part_03 > div {
  width: 7.12rem;
  height: 4.68rem;
  background: url('../images/banner_01.png') no-repeat;
  background-size: cover;
  position: relative;
  top: -0.15rem;
  left: 0;
  right: 0;
  margin: auto;
}
html section.part_03 > div > a,
body section.part_03 > div > a {
  display: inline-block;
  width: 2.23rem;
  height: .86rem;
  background: url('../images/jion.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 3.38rem;
  right: .5rem;
}
html section.part_04,
body section.part_04 {
  width: 7.5rem;
  height: 4.89rem;
  background: url('../images/bg_04.png') no-repeat;
  background-size: cover;
}
html section.part_04 > div,
body section.part_04 > div {
  width: 7.12rem;
  height: 4.68rem;
  background: url('../images/banner_02.png') no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
html section.part_04 > div > a,
body section.part_04 > div > a {
  display: inline-block;
  width: 2.23rem;
  height: .86rem;
  background: url('../images/jion.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 3.38rem;
  right: .5rem;
}
html section.mask,
body section.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
