
html,body{
    // font-size: 58.5938px;
        // background-color: #b7ea9d;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        section.part_01{
            width: 7.5rem;
            height: 3.8rem;
            background: url('../images/bg_01.png') no-repeat;
            background-size: cover;
        }
        section.part_02{
            width: 7.5rem;
            height: 3.4rem;
            background: url('../images/bg_02.png') no-repeat;
            background-size: cover;
        }
        section.part_03{
            width: 7.5rem;
            height:2.7rem;
            background: url('../images/bg_03.png') no-repeat;
            background-size: cover;
        }
        section.part_04{
            width: 7.5rem;
            height:2.2rem;
            background: url('../images/bg_04.png') no-repeat;
            background-size: cover;
        }
        section.part_05{
            width: 7.5rem;
            height:1.24rem;
            background: url('../images/bg_05.png') no-repeat;
            background-size: cover;
            position: relative;
            >a{
                position: absolute;
                left: 0;
                right: 0;
                top: .2rem;
                margin: auto;
                display: inline-block;
                width: 3.82rem;
                height: .92rem;
                background: url('../images/btn.png') no-repeat;
                background-size: cover;
            }
        }
        section.part_06{
            width: 7.5rem;
            flex: 1;
            background: url('../images/bg_05.png') no-repeat;
            background-size: cover;
          
        }
        /* 遮罩层 */
        section.mask{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.8);
            z-index: 100;
        }
}

             