
html,body{
    // font-size: 58.5938px;
        background-color: #f5e3cb;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        section.part_01{
            width: 7.5rem;
            height: 5.94rem;
            background: url('../images/bg_01.png') no-repeat;
            background-size: cover;
        }
        section.part_02{
            width: 7.5rem;
            height: 7.79rem;
            background: url('../images/bg_02.png') no-repeat;
            background-size: cover;
            position: relative;
            >div{
                &:nth-child(1){
                    width:5.15rem;
                    height: 3.86rem;
                    background: url('../images/list.png') no-repeat;
                    background-size: cover;
                    position: relative;
                    top: -.29rem;  
                    left: 0;
                    right: 0;
                    margin: auto;    
                }
                &:nth-child(2){
                    width:6.37rem;
                    height: .87rem;
                    background: url('../images/jieshao_01.png') no-repeat;
                    background-size: cover;
                    margin-left: .44rem;
                    position: relative;
                    top: -.29rem; 
                }
                &:nth-child(3){
                    width:6.51rem;
                    height: 1.63rem;
                    background: url('../images/jieshao_02.png') no-repeat;
                    background-size: cover;
                    margin-left: .44rem;
                    margin-top: .25rem;
                    position: relative;
                    top: -.29rem; 
                }
                &:nth-child(4){
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    >a{
                        display: inline-block;
                        width: 3.82rem;
                        height:.92rem;
                        background: url('../images/btn.png') no-repeat;
                        background-size: cover;
                      
                    }
                }
            }
           
        }
        section.part_03{
            width: 7.5rem;
            flex: 1;
            background: url('../images/bg_02.png') no-repeat;
            background-size: cover;
        }
        /* 遮罩层 */
        section.mask{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.8);
            z-index: 100;
        }
}

             